.CardDetail {
    max-width: 1500px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.detailTitle{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
}

.backButton {
    background-color: #007bff;
    border: none;
    font-size: 1em;
    cursor: pointer;
    margin: 15px;
    transition: color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 
                2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 
                -1px -1px 2px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s ease;
}

.backButton:hover {
    background-color: #0056b3;
}

.CardBody {
    padding: 40px;
}

.CardImgDetail {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.CardTitleDetail {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.CardCategory, .CardDescription, .CardPriceDetail {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #666;
}

.ItemCount {
    margin-top: 15px;
}

@media (max-width: 768px) {
    .CardDetail {
        margin: 10px;
    }

    .CardBody {
        padding: 15px;
    }
}
