.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.loadingDots,
.loadingDots:before,
.loadingDots:after {
    color: rgba(255, 255, 255, 0.2);
    animation-name: loading-dots-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.loadingDots:before,
.loadingDots:after {
    content: attr(data-dot);
    margin: 0 0.2em;
}

.loadingDots {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    animation-delay: 0.66s;
}

.loadingDots:before {
    animation-delay: 0.33s;
}

.loadingDots:after {
    animation-delay: 0;
}

@keyframes loading-dots-animation {
    0% {
        color: rgba(0, 0, 0, 0.2);
    }

    65% {
        color: rgba(0, 0, 0, 0.8);
    }

    100% {
        color: rgba(0, 0, 0, 0.2);
    }
}


.loadingText {
    font-weight: bold;
    margin: 0.3em 0;
    font-size: 1.5em;
}

.note {
    margin: 1em 0;
    opacity: 0.6;
    font-size: 0.8em;
}

.errorText {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
}
