.Card {
    position: relative;
    background: white;
    max-width: 500px;
    margin: 10px auto;
    padding: 50px;
    border-radius: 20px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.302));
}

.Card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.CardImg {
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.CardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
}

.CardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.CardTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.CardPrice,
.CardStock {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.Option {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 
                2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 
                -1px -1px 2px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s ease;
}

.Option:hover {
    background-color: #218838;
}


@media (max-width: 768px) {
    .Card {
        max-width: 100%;
    }

    .CardTextContainer {
        flex-direction: column;
        align-items: center;
    }

    .CardPrice,
    .CardStock {
        margin-bottom: 5px;
    }
}