.footer {
    background-color: #27272a;
    color: white;
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footerCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.footerTitle {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.footerLinks,
.footerSocials {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

.footerLinks a,
.footerSocials a {
    color: white;
    text-decoration: none;
    margin: 0.5rem 0;
    transition: color 0.3s;
}

.footerLinks a:hover,
.footerSocials a:hover {
    color: #00b4db;
}

.footerSocials {
    flex-direction: row;
}

.footerSocials a {
    margin: 0 1rem;
    font-size: 2rem;
}

.footerBottom {
    text-align: center;
    margin-top: 2rem;
}